body {
    background-color: #f8f8f8;
}

@font-face {
    font-family: 'Canela-Light';
    src: url('../fonts/canela-light.otf');
}

#fade-top {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 10vh;
    background: linear-gradient(0, rgba(248,248,248,0), rgba(248,248,248,1))
}

#fade-bottom {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 20vh;
    background: linear-gradient(180deg, rgba(248,248,248,0), rgba(248,248,0,1))
}

iframe {
    width: 100%;
}

img {
    position: relative;
    z-index: 9999;
}

h1, h6, p, a, ol {
    font-family: 'Canela-Light';
    font-weight: lighter;
}

a:hover, a:active, a:focus {
    color: #000;
    text-decoration: none;
}

ol li {
    padding: 0 0 0 10px;
}

li a:hover, li a:active, li a:focus {
    background-color: rgb(248,248,0);
}

li a.inactive:hover {
    background-color: #fff;
}

h1 {
    letter-spacing: .5px;
}

h6 {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.8px;
    padding-bottom: 8px;
}

p, ol {
    font-size: 1.5em;
    padding: 1% 0;
}

p a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 1.3px;
}

.around img {
    opacity: 0.2;
    position: absolute;
}

.left {
    padding-right: 5%;
}

.right {
    padding-left: 5%;
}

.around img:hover {
    opacity: 1;
}

.compare {
    width: 50%;
    float: left;
}

.img-1 {
    top: -10%;
    left: 10%;
}

.img-2 {
    top: 10%;
    left: 35%;
}

.img-3 {
    top: 30%;
    left: 70%;
}

#container {
    width: 100%;
}

#home {
    z-index: 9999;
    font-size: 1.5em;
    margin-bottom: 30%;
    float: left;
}

nav {
    position: fixed;
    padding: 3% 5%;
    width: 25%;
    max-height: 100vh;
    overflow: auto;
    float: left;
}

nav ul {
    list-style: none;
    padding: 0 0 8% 0;
    float: left;
    width: 100%;
}

a {
    color: #000;
}

a.inactive {
    opacity: .2;
}

#content {
    position: absolute;
    right: 0;
    width: 75%;
    padding: 0 12% 0 4%;
}

section {
    padding: 11% 0;
    float: left;
}

.block {
    width: 100%;
    padding: 5% 0;
    float: left;
}

.around {
    position: relative;
    width: 100%;
    height: 100%;
}

.quote {
    float: left;
}

.quote h6 {
    padding: 0;
}

.citation {
    width: 25%;
    text-align: right;
    padding-right: 25px;
}

.citation p {
    font-size: 14px;
}

p.quote {
    width: 75%;
    border-left: 0.25px solid #7b7b7b;
    padding-left: 25px;
}